name: Build and Deploy Client Service

on: 
  push: 
    paths:
      - 'client/**'
      - '.github/workflows/**'
  pull_request:
    paths:
      - 'client/**'
      - '.github/workflows/**'
  workflow_dispatch:

env:
  VITE_SESSION_SECRET: ${{ secrets.VITE_SESSION_SECRET }}
  DUCKDB_POOL_SIZE: 5

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout client service
        uses: actions/checkout@v2
      - name: Install dependencies
        working-directory: client
        run: npm ci
      - name: Build client
        working-directory: client
        run: npm run build
      - uses: actions/upload-artifact@v3
        with:
          name: built-site
          path: dist

  deploy:
    runs-on: ubuntu-latest
    #if: github.ref == 'refs/heads/main'
    needs: [build]
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: built-site
      - uses: easingthemes/ssh-deploy@main
        env:
          ARGS: -rlgoDzvc -i --delete
          SSH_PRIVATE_KEY: ${{ secrets.DEPLOY_SSH_KEY }}
          REMOTE_HOST: ${{ secrets.DEPLOY_HOST_DNS }}
          REMOTE_USER: ${{ secrets.DEPLOY_USERNAME }}
          TARGET: ${{ secrets.DEPLOY_TARGET_DIR }}
