name: Cypress Test

on: [push]

env:
  VITE_SESSION_SECRET: ${{ secrets.VITE_SESSION_SECRET }}
  DUCKDB_POOL_SIZE: 5

jobs:
  electron-run:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout backend
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Build and deploy backend
      working-directory: api
      run: |
        python -m ensurepip --default-pip
        pip install -r requirements.txt
        uvicorn app:app --port 9090 & bash -c 'while ! curl -s http://localhost:9090 > /dev/null; do sleep 1; done'

    - name: Start MongoDB
      uses: supercharge/mongodb-github-action@1.8.0
      with:
        mongodb-version: 4.4

    - name: Checkout frontend
      uses: actions/checkout@v3

    - name: Cypress run
      uses: cypress-io/github-action@v5
      with:
        working-directory: client
        build: npm run build
        start: npm run preview

    - name: Upload Cypress electron-run video artifact
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: Cypress video
        path: /home/runner/work/substrait-fiddle/substrait-fiddle/client/cypress/videos/shareable.cy.js.mp4


  chrome-run:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout backend
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Build and deploy backend
      working-directory: api
      run: |
        python -m ensurepip --default-pip
        pip install -r requirements.txt
        uvicorn app:app --port 9090 & bash -c 'while ! curl -s http://localhost:9090 > /dev/null; do sleep 1; done'

    - name: Start MongoDB
      uses: supercharge/mongodb-github-action@1.8.0
      with:
        mongodb-version: 4.4

    - name: Checkout frontend
      uses: actions/checkout@v3

    - name: Cypress run
      uses: cypress-io/github-action@v5
      with:
        working-directory: client
        build: npm run build
        start: npm run preview
        browser: chrome


  edge-run:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout backend
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Build and deploy backend
      working-directory: api
      run: |
        python -m ensurepip --default-pip
        pip install -r requirements.txt
        uvicorn app:app --port 9090 & bash -c 'while ! curl -s http://localhost:9090 > /dev/null; do sleep 1; done'

    - name: Start MongoDB
      uses: supercharge/mongodb-github-action@1.8.0
      with:
        mongodb-version: 4.4

    - name: Checkout frontend
      uses: actions/checkout@v3

    - name: Cypress run
      uses: cypress-io/github-action@v5
      with:
        working-directory: client
        build: npm run build
        start: npm run preview
        browser: edge
